.contactList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  margin-top: 40px;
}

.contactList li {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
}

.contactList li:first-child {
  border-top: none;
}

.contactListText {
  font-size: 18px;
  line-height: 1.2;
  color: #344c69;
  font-weight: 600;
  width: 45%;
}

.contactList li.contactListHead .contactListText {
  font-weight: 600;
  text-transform: uppercase;
}

.delButton {
  background: none;
  width: 10%;
  max-width: 70px;
  margin-left: auto;
  font-size: 12px;
  padding: 8px 4px;
  line-height: 1;
  border: 1px solid #c31313;
  color: #c31313;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 8px;
  transition: 250ms ease-out;
}

.delButton:hover,
.delButton:focus {
  color: #fff;
  background: #c31313;
}

@media screen and (max-width: 767px) {
  .contactListText {
    font-size: 16px;
    width: 40%;
  }

  .delButton {
    width: 20%;
  }
}

@media screen and (max-width: 599px) {
  .contactList li {
    flex-wrap: wrap;
  }
  .contactList li.contactListHead {
    display: none;
  }
  .contactListText {
    width: 70%;
    line-height: 1.5;
  }
  .delButton {
    position: absolute;
    right: 20px;
  }
}
